<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition</title>
</head>
<body>
    <h1>Speech Recognition</h1>
    <button onclick="startRecording()">Start Recording</button>
    <div id="result"></div>

    <script>
        function startRecording() {
            var resultDiv = document.getElementById('result');
            resultDiv.innerHTML = 'Listening...';

            fetch('/process_audio', {
                method: 'POST'
            })
            .then(response => response.text())
            .then(data => {
                // var d= data.getElementById('fetchedtext');
                // console.log(data)
                // var da= d.textContent;
                for (const ch of data){
                    if (ch==" "){
                        console.log('\n')
                    const img = document.createElement('img');
                    img.src= "\\alphabets\\"+"space"+".jpg"
                    img.alt='image'
                    resultDiv.appendChild(img);
                    }
                    console.log(ch)
                    const img = document.createElement('img');
                    img.src= "\\alphabets\\"+ch+".jpg"
                    img.alt='image'
                    resultDiv.appendChild(img);
                };
            });
        }
    </script>
</body>
</html>
